---
layout: default
title: Blog
---

<h1>Blog</h1>

<ul class="post-list">
    {% for post in site.posts %}
    <li class="post-item">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <div class="post-meta">
            <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
                {{ post.date | date: "%Y年%m月%d日" }}
            </time>
        </div>
        {% if post.excerpt %}
        <div class="post-excerpt">
            {{ post.excerpt }}
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>

